<div class="product-list-container">
  <div class="txtBuscar">
    <input
      type="text"
      placeholder="Buscar..."
      class="buscar-input"
      [value]="searchTerm()"
      (input)="onSearch($event)"/>
    <button type="button" [routerLink]="'/nuevo-producto'" class="nuevo-btn">Nuevo Producto</button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>
            Descripción
            <span class="info-icon" tabindex="0">
              <svg width="22" height="22" fill="#bdbdbd" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="#e0e0e0"/>
                <text x="12" y="16" text-anchor="middle" font-size="14" fill="#bdbdbd" font-family="Arial" font-weight="bold">i</text>
              </svg>
              <span class="tooltip">Descripción del producto</span>
            </span>
          </th>
          <th>
            Fecha de liberación
            <span class="info-icon" tabindex="0">
              <svg width="22" height="22" fill="#bdbdbd" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="#e0e0e0"/>
                <text x="12" y="16" text-anchor="middle" font-size="14" fill="#bdbdbd" font-family="Arial" font-weight="bold">i</text>
              </svg>
              <span class="tooltip">Fecha en que se liberó el producto</span>
            </span>
          </th>
          <th>
            Fecha de reestructuración
            <span class="info-icon" tabindex="0">
              <svg width="22" height="22" fill="#bdbdbd" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="#e0e0e0"/>
                <text x="12" y="16" text-anchor="middle" font-size="14" fill="#bdbdbd" font-family="Arial" font-weight="bold">i</text>
              </svg>
              <span class="tooltip">Fecha en que se reestructuró el producto</span>
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts()">
          <td>
            <img [src]="product.logo" alt="Logo" class="avatar" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td>
            <span class="menu-icon">⋮</span>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="line-div"></div>
    
    <div class="table-footer">
      <span>{{ products().length }} Resultados</span>
      <select class="selector">
        <option>5</option>
        <option>10</option>
        <option>20</option>
      </select>
    </div>
  </div>
</div>